@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #fff;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}
